*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: content-box;
}
body{
    background: #111211;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 70%;
   
    background-color: rgb(229, 241, 239);
     margin: 100px auto 0 ;
    padding: 30px 35px;
    text-align: center;
    border-radius: 20px;

}
.search-box{
    width: 90%;
   
    background-color: rgb(155, 201, 244);
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 30px;
   
}

.search-box input{
  
    padding: 10px 26px;
    border-radius: 14px;
    font-size: medium;
    text-transform: capitalize;
    height: 20px;
    margin-left: 105px;
}
.search-box button {
    height: 46px;
    width: 46px;
    margin-right: 170px;
    border-radius: 200px;
    font-size: 50px;
}
.search-box button:hover{
  background-color: rgb(226, 214, 199);
    border-color: rgb(154, 41, 41);
    display: flex;
}
.weather-body{
    height: 10px;
    width: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    margin-block: 20px;
}
.weather-box{
    text-align: center;
    font-size: 29px;
}
.weather-box .temperature{
    font-size: 50px;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 30px;
    position: absolute;
}
.weather-box .description{
    font-size: 30px;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    
}
.weather-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 39px;
}
.wind{
    margin-right: 40px;
    font-size: 20px;
}
.weather-detail i{
    font-size: 35px;
}
.weather-detail .text{
   
    font-size: 20px;
}
.text span{
    font-size: 40px;
    font-weight: 800;
}
.text{
    font-size: 10px;
}


